* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  background-color: #f1f1f1;
  margin: auto;
  min-height: 100vh;
}

.signup,.login, .profile{
  width: 80%;
  margin: 0 auto;
}

.fitZing{
  margin-top: 75px;
  font-family: Nunito;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;

}

.zing{
  color: #18AC00;
}

.login-signup-toggle{
  margin-top: 98px;
  display: flex;
  justify-content:space-around;
  text-align: center;
  font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    
}

.login-toggle{
  text-decoration: none;
  color: #000000;
}

.signup-toggle{
 text-decoration: none;
color: #000000;
}

.highlight{
  color: #18AC00;
}

.signup-form{
  display: flex;
  flex-direction: column;
  margin: 59px auto;
  gap:39px;
  
}

.signup-form input{
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding: 5px;
}

.signup-form input::placeholder{
  color: #E0E0E0;
}

.signup-btn{
  background-color: #18AC00;
  color: #FFFFFF;
  font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    padding: 8px;
}

Link{
  text-decoration: none !important;
}

/* landing */

.fitZing-landing{
  font-family: Nunito;
    font-size: 75px;
    font-weight: 700;
    line-height: 102px;

}

.slogan{
  font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #18AC00;
}

.landing-login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 151px;
   border-radius: 3px;
   background-color: #18AC00;
  font-family: Inter;
  color: #FFFFFF;
  text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.landing-images{
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.landing-signup{
  font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid black;
}

.landing{
    margin-top: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}


/* Profile */

.highlight-medical{
  color: #18AC00;
  border-color: #18AC00;
    
}

.profile-header{
  font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
  margin-top: 83px;
    text-align: left;
    margin-bottom: 27px;
}

.profile-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

#name{
  border: none;
  border-bottom: 1px solid #C1C1C1;
  padding: 5px;
}

.gender-age{
  display: flex;
  justify-content: space-between;

}



#gender, #age{
  width: 128px;
 border-radius: 3px;
  border: 1px;
  padding: 5px;
}

#food{
  border-radius: 3px;
    border: 1px;
    padding: 5px;
}

.medical-header, .goal-header{
    text-align: left;
}

.medical-btns, .goal-btns{
  margin-top: 7px;
  display: flex;
  gap:10px;
  flex-wrap: wrap;
}

.medical-btns button, .goal-btns button{
  font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    padding: 5px;
    border-radius: 13px;
}

.medical-btns button:hover, .goal-btns button:hover{
  cursor: pointer;
}

